<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Tony's Pizza</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
</head>

<body ng-controller="menuController">
<div class="container">
    <h1>Tony's Pizza</h1>
    <h2>{{ model.title }}</h2>
    <div ng-repeat="pizza in mainDish">
        <label><input type="radio" name="category" ng-click="changeMainDish(pizza)"> {{ pizza.name }} {{ pizza.price |
            currency }}</label>
    </div>
    <div>
        <h3>Selected Item</h3>
        <pre>{{ mainDish.name }}</pre>
    </div>

    <h3>Topping Search</h3>
    <p>Here you can add some toppings. Each costs {{ model.toppingPrice | currency }}.</p>
    <div ng-repeat="t in model.availableToppings ">
        <input type="checkbox" ng-click="addTopping(t)">{{ t }}</input>
    </div>
    <!--<div>-->
    <!--<h3 ng-if="model.toppings.length > 0">Selected Toppings</h3>-->
    <!--<div ng-repeat="t in model.toppings">{{ t }}</div>-->
    <!--</div>-->

    <div>
        <h3>Special Instructions</h3>
        <textarea class="form-control" ng-model="model.specialInstructions"></textarea>
    </div>
    <div>
        <h3>Order Summary</h3>
        <p ng-hide="mainDish.name">You haven't choose anything yet</p>
        <div ng-show="mainDish.name">
            <p> {{ mainDish.name }} <span ng-if="model.toppings.length > 0">with <span ng-repeat="t in model.toppings">{{ t }} </span></span></p>
            <p>{{ model.specialInstructions }}</p>
            <p> {{ mainDish.price | currency }} </p>
        </div>
        <p ng-show="mainDish.name">
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="./app/app.js"></script>
<script src="./app/menuController.js"></script>
</body>

</html>